
.choices ul{
 display: flex;
 justify-content: space-around;
 list-style: none;
}

.choices ul li span {
    font-size: 30px;
    cursor: pointer;
}


.slider{
    position: relative;
}

.slider .show{
    z-index: 1;
}

.slider .slide1{
    background-color: aqua;
    position : absolute;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns : 1fr 1fr
}

.slider .slide1 h1 {
    font-size: 100px;
text-align: center;
color: white;
padding: 50px;
}




.slider .slide2{
    background-color: rgb(44, 155, 155);
    position : absolute;
    width: 100%;
    display: grid;
    grid-template-columns : 1fr 1fr
}

.slider .slide2 h1 {
    font-size: 100px;
text-align: center;
color: white;
padding: 50px;
}



.slider .slide3{
    background-color: rgb(12, 22, 22);
    position : absolute;
    width: 100%;
    display: grid;
    grid-template-columns : 1fr 1fr
}

.slider .slide3 h1 {
    font-size: 100px;
text-align: center;
color: white;
padding: 50px;
}